body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    padding: 195px;
    text-align: center;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
    position: relative;
    transition: background-position 0.2s ease-out;
    transition: transform 0.5s ease-in-out;
}

.header-title {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.header-description {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.header h1 {
    font-size: 60px;
    font-weight: 50;
}

.header p {
    font-size: 20px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.book-now-btn, .free-consultation-btn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    margin-right: 10px;
    transition: background-color 0.2s ease-out;
}

.book-now-btn:hover, .free-consultation-btn:hover {
    background-color: #1abc9c;
}

#form-title {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    font-size: 32px;
    text-align: left;
    color: #333;
    z-index: 2;
}

#form-subtitle {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    color: #666;
    z-index: 2;
}

#form-phrase {
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: left;
    color: #666;
    z-index: 2;
}
.consultation-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    display: flex;
}

.slide-in {
    transform: translateX(0);
}

.slide-out {
    transform: translateX(100%);
}

.consultation-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.form-container {
    display: inline-block;
    width: 50%;
    max-width: 40%;
}

.info-container {
    display: inline-block;
    width: 50%;
    max-width: 50%;
    vertical-align: top;
}

.consultation-info {
    color: #666;
    font-size: 12px;
    margin: 0;
    padding: 25px;
    text-align: left;
    z-index: 2;
}

.name-fields {
    display: flex;
    margin-top: 40px;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.name-fields input {
    flex: 1;
}

.contact-fields {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.contact-fields input {
    flex: 1;
}

.location-fields {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.location-fields input {
    flex: 1;
}

.consultation-form input[type="text"], .consultation-form input[type="email"], .consultation-form input[type="tel"], .consultation-form input[type="address"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.consultation-form input[type="submit"] {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.consultation-form input[type="submit"]:hover {
    background-color: #1abc9c;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

#options {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    color: #666;
}

#options option {
    padding: 10px;
}

#submenu1 {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    color: #666;
}

#submenu2-1, #submenu2-2 {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #666;
}

#submenu2-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#submit-button.loading {
    background-color: #ccc;
    pointer-events: none;
    animation: loadingAnimation 2s infinite;
}

@keyframes loadingAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.consultation-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    font-family: Arial, sans-serif;
    color: #666;
}

.right-container {
    display: flex;
    padding: 25px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .image {
    width: 40%;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
  
  .info-content {
    font-size: 14px;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    left: -20px;
    background-color: #1abc9c;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .info-content p {
    font-size: 14px;
  }

.why-us {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.why-us h2 {
    color: #333;
    text-align: center;
}

.reasons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reason {
    width: 30%;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.icon {
    background-color: #1abc9c;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.reason p {
    color: #666;
}

.loading {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
    cursor: not-allowed;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.submitted {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
    animation: submit 1s;
}

@keyframes submit {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}